body {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}


#container {
    width: 940px;
    height: 100%;
    margin: 0px auto;
    padding: 20px;
  }

#header {
    padding: 20px;
    color: whitesmoke;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    font-size: 50px;
    font-family: Century Gothic, sans-serif;
}

/* Unordered list style */ 
.entry-content ul.ast-content-ul-list {
    margin-left:1.4em;
 }
 .entry-content ul.ast-content-ul-list li {
    position: relative;
    padding-left: 30px;
    list-style: none; 
 }
 .entry-content ul.ast-content-ul-list li:after{
    position: absolute;
    top: -webkit-calc( 50% - -1px);
    top: calc( 50% - -1px);
    left: 0;   width: 20px;
    height: 20px;
    margin-top: -10px;
    padding-top: 2px;
    color: #fff;
    text-align:center;
    background-color: gray;
    content: "\e900";
    font-size: 10px;
    font-family: 'Biryani', sans-serif;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); 
 } 

#greeting {
    font-family: 'Biryani', sans-serif;
    font-weight: 800;
    font-size: 50px;
}

#weather {
    font-family: 'Biryani', sans-serif;
    font-size: 20px;
    color: ghostwhite;
}

#content {
    width: 580px;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
}

#todoinput {
    color: whitesmoke;
    width: 300px;
    height: 50px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
}

#sidebar {
    width: 260px;
    height: 1000px;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
    color: whitesmoke;
    white-space: nowrap;
}

#clock {
    color: ghostwhite;
    font-family: 'Biryani', sans-serif;
    font-size: 50px;
}

#eeveeBtn {
    background-image: url("img/이브이.png") no-repeat;
    color: transparent;
    width: 100px;
    height: 100px;
}

.randomEevee {
    width: 25px;
    float: left;
}

#loginInput {
    width: 300px;
    height: 50px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
}

.btn {
    align-content: center;
    color: whitesmoke;
    width: 200px;
    height: 40px;
    color: gray;
    background-color: white;
    opacity: 40%;
    border: 2px solid white;
    border-radius: 10px;
}

.outbtn {
    align-content: center;
    color: whitesmoke;
    width: 140px;
    height: 40px;
    color: gray;
    background-color: white;
    opacity: 20%;
    border: 2px solid white;
    border-radius: 10px;
}

.gobtn {
    width: 50px;
    height: 30px;
    color: gray;
    background-color: white;
    opacity: 40%;
    border: 2px solid white;
    border-radius: 10px;
}

.hidden {
    display: none;
}
